language: php

## Run on container environment
sudo: false
    
php:
  - 5.6
  - 7
  - hhvm
  
before_script:
  - composer self-update
  - composer update --prefer-source
  - composer dump-autoload

script:
  - vendor/bin/php-cs-fixer fix src --level=psr2 --dry-run -vv
  - vendor/bin/phpunit --coverage-clover coverage.clover

after_script:
  - php vendor/bin/coveralls -v
