<phpunit 
	bootstrap="./vendor/autoload.php" 
	colors="false"
	convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="UnitTests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        
        <testsuite name="IntegrationTests">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
    </testsuites>
    

    
</phpunit>
