<phpunit 
	bootstrap="./tests/bootstrap.php" 
	colors="false"
	stopOnError="false"
	stopOnFailure="false"
	convertErrorsToExceptions="true"
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true"
>   
    <testsuites>
        <testsuite name="UserAgentParser test Suite">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    
	<filter>
	   <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
	</filter>
	
</phpunit>
