<phpunit 
	bootstrap="vendor/bootstrap.php" 
	colors="false"
	convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>   
    <testsuites>
        <testsuite name="UserAgentParser tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    
	<filter>
	   <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
	</filter>
	
</phpunit>
