<?php
/**
 * The config file to provide credentials for various integration tests
 * 
 * @author Martin Keckeis <martin.keckeis1@gmail.com>
 * @license MIT
 */
define('CREDENTIALS_FILE_LOADED', true);

define('CREDENTIALS_DEVICE_ATLAS_COM_KEY', '...');

define('CREDENTIALS_NEUTRINO_API_COM_USER_ID', '...');
define('CREDENTIALS_NEUTRINO_API_COM_KEY', '...');

define('CREDENTIALS_UDGER_COM_KEY', '...');

define('CREDENTIALS_USER_AGENT_API_COM_KEY', '...');

define('CREDENTIALS_WHAT_IS_MY_BROWSER_COM_KEY', '...');
